<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>CRUD Maker By DLL</title>

    <th:block th:replace="fragment/client/config :: configFragment"></th:block>
</head>

<body class="sidebar-collapse">
<div class="wrapper">
    <div class="content-wrapper row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12">
        <!-- Top Navigation -->
        <th:block th:replace="fragment/client/header :: headerFragment"></th:block>

        <!-- Content Area -->
        <th:block layout:fragment="content"></th:block>
    </div>
    </div>
    <!--<th:block th:replace="fragment/footer :: footerFragment"></th:block>-->
</div>
</body>

</html>
