<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/error_layout">

<!-- 해당 html 에서 사용할 css -->
<th:block layout:fragment="css">

</th:block>

<!-- 해당 html 에서 사용할 js -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div id="initContent">
        <section class="content-header">
            <div class="container-fluid">
            </div>
        </section>

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-warning"> 404</h2>
                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Page not found</h3>
                    <p>
                        페이지를 찾을 수 없습니다.<br>
                        URL을 확인해주시기 바랍니다.<br>
                        <a th:href="@{/welcome}">return to home</a>
                    </p>

                </div>
            </div>
        </section>
    </div>
</div>  <!-- content end -->
</html>
