<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Common -->
<th:block th:fragment="configFragment">

    <!-- Common CSS -->
    <link rel="shortcut icon" th:href="@{/img/favicon/favicon-32x32.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font/fonts.googleapis.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/tabulator/tabulator.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/tabulator/tabulator_modern.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/sweetalert2/sweetalert2.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/fancytree/skin-lion/ui.fancytree.css}"/>
    <link rel="stylesheet" th:href="@{/css/adminlte/adminlte.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/adminlte/index.css}"/>

    <!-- Common JS lib -->
    <script th:src="@{/js/polyfill/foreach.js}"></script>
    <script th:src="@{/js/polyfill/fetch.umd.js}"></script>
    <script th:src="@{/js/polyfill/promise.min.js}"></script>
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/plugins/tabulator/tabulator.js}"></script>
    <script th:src="@{/plugins/sweetalert2/sweetalert2.js}"></script>
    <script th:src="@{/plugins/jQuery-slimScroll-1.3.8/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/plugins/fancytree/jquery.fancytree.min.js}"></script>
    <script th:src="@{/plugins/fancytree/extentions/jquery.fancytree.dnd5.js}"></script>
    <script th:src="@{/plugins/sockjs/sockjs.min.js}"></script>
    <script th:src="@{/js/adminlte/adminlte.min.js}"></script>
    <script th:src="@{/js/layout/common.js}"></script>


    <!-- Content CSS -->
    <th:block layout:fragment="css">

    </th:block>

    <!-- Content JS lib -->
    <th:block layout:fragment="script">

    </th:block>

</th:block>
</html>
